<td>
  <%= link_to user.email, user %>
  <%= link_to user.building_id %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>

  <%= form_for(user) do |g| %>
  <%= g.select(:building_id, User.totos.keys.map {|toto| [toto.titleize,toto]}) %>
    <%= g.submit 'Change building', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
